.version.index /* version checker */
{
	color: #000009;
	background-color: #E93B21;
}

#page
{
	z-index: 1;
	width: 908px;
	min-height: 479px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 32px 20px 20px;
}

#u93-6
{
	z-index: 2;
	width: 275px;
	min-height: 62px;
}

#pu131
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 26px;
}

#u131
{
	z-index: 8;
	width: 210px;
	height: 210px;
	background-color: #0598FF;
	border-radius: 500px;
	position: relative;
	margin-right: -10000px;
	left: 687px;
}

#u131::before
{
	box-shadow: none;
}

#u130
{
	z-index: 9;
	width: 500px;
	border-width: 10px;
	border-style: solid;
	border-color: #0598FF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u167
{
	z-index: 10;
	width: 500px;
	-pie-box-shadow: none;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u167_clip
{
	overflow: hidden;
	width: 500px;
	height: 270px;
}

#u167_img
{
	margin-left: -1px;
	margin-top: -14px;
	margin-bottom: -21px;
}

#u132
{
	z-index: 12;
	width: 246px;
	-pie-box-shadow: 4px 4px 10px #7F7F7F;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	background-color: #737373;
	border-radius: 1000px;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 481px;
}

#u133-6
{
	z-index: 13;
	width: 193px;
	min-height: 151px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 29px;
}

#u135-6
{
	z-index: 19;
	width: 156px;
	min-height: 160px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 722px;
}

#pu136-23
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -4px;
}

#u136-23
{
	z-index: 25;
	width: 381px;
	min-height: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u136-4
{
	color: #646464;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u136
{
	font-size: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	line-height: 32px;
}

#u136-2
{
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 17px;
}

#u136-3
{
	font-size: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	line-height: 24px;
}

#u136-8,#u136-14
{
	font-size: 19px;
	line-height: 24px;
	color: #323232;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u136-5,#u136-11
{
	font-weight: 700;
}

#u136-7,#u136-13
{
	color: #0598FF;
	font-weight: 700;
}

#u136-18
{
	font-size: 19px;
	line-height: 24px;
	color: #323232;
	font-family: droid-sans, sans-serif;
	font-weight: 700;
}

#u136-10,#u136-16,#u136-21
{
	font-size: 15px;
	line-height: 19px;
	color: #323232;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u136-19
{
	text-decoration: underline;
}

#pu173-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 401px;
}

#u173-4
{
	z-index: 99;
	width: 260px;
	min-height: 34px;
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	color: #717171;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	margin-left: 3px;
	position: relative;
}

#widgetu144
{
	z-index: 48;
	width: 0.01px;
	height: 152px;
	margin-top: 14px;
	position: relative;
}

#widgetu146
{
	z-index: 49;
	width: 256px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 2px;
}

#widgetu146.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 256px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u147-4
{
	z-index: 50;
	width: 242px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #323232;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu146.non-empty-st #u147-4
{
	background-color: #FFFFFF;
}

#widgetu146:hover #u147-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu146.focus-st #u147-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu146.non-empty-st #u147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu146:hover #u147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu146.focus-st #u147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu157
{
	z-index: 54;
	width: 256px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 2px;
}

#widgetu157.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 256px;
	height: 28px;
	min-height: 0px;
	margin: 34px -10000px 0px 0px;
}

#u159-4
{
	z-index: 55;
	width: 242px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #323232;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu157.non-empty-st #u159-4
{
	background-color: #FFFFFF;
}

#widgetu157:hover #u159-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu157.focus-st #u159-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu157.non-empty-st #u159-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu157:hover #u159-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu157.focus-st #u159-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u151-4
{
	z-index: 59;
	width: 109px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 150px;
}

#widgetu144.frm-sub-st #u151-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u145-4
{
	z-index: 63;
	width: 109px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 150px;
}

#widgetu144.frm-subm-err-st #u145-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u150-4
{
	z-index: 67;
	width: 109px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 150px;
}

#widgetu144.frm-sub-st #u151-4,#widgetu144.frm-subm-err-st #u145-4,#widgetu144.frm-subm-ok-st #u150-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 46px;
}

#widgetu144.frm-subm-ok-st #u150-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u156-17
{
	z-index: 71;
	min-height: 29px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	background: url("../images/u156-17.png") no-repeat 0px 0px;
}

#u156-17:hover
{
	background: url("../images/u156-17-r.png") no-repeat 0px 0px;
}

#u156-17:active
{
	background: url("../images/u156-17-m.png") no-repeat 0px 0px;
}

#widgetu144.frm-sub-st #u156-17
{
	background: url("../images/u156-17-fs.png") no-repeat 0px 0px;
}

#widgetu152
{
	z-index: 88;
	width: 222px;
	height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 265px;
}

#widgetu152.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 222px;
	height: 98px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u153-4
{
	z-index: 89;
	width: 208px;
	min-height: 84px;
	border-width: 1px;
	border-style: solid;
	border-color: #323232;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu152.non-empty-st #u153-4
{
	background-color: #FFFFFF;
}

#widgetu152:hover #u153-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 84px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#widgetu152.focus-st #u153-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 84px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#widgetu152.fld-err-st #u153-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 84px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#widgetu152.non-empty-st #u153-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu152:hover #u153-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu152.focus-st #u153-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu152_input,#widgetu152_prompt
{
	width: 208px;
	min-height: 84px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu216
{
	z-index: 93;
	width: 256px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 2px;
}

#widgetu216.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 256px;
	height: 28px;
	min-height: 0px;
	margin: 70px -10000px 0px 0px;
}

#u218-5
{
	z-index: 94;
	width: 242px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #323232;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu216.non-empty-st #u218-5
{
	background-color: #FFFFFF;
}

#widgetu216:hover #u218-5
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu216.focus-st #u218-5
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu146.fld-err-st #u147-4,#widgetu157.fld-err-st #u159-4,#widgetu216.fld-err-st #u218-5
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#widgetu216.non-empty-st #u218-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu216:hover #u218-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu216.focus-st #u218-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu146.fld-err-st #u147-4 *,#widgetu157.fld-err-st #u159-4 *,#widgetu152.fld-err-st #u153-4 *,#widgetu216.fld-err-st #u218-5 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu146_input,#widgetu146_prompt,#widgetu157_input,#widgetu157_prompt,#widgetu216_input,#widgetu216_prompt
{
	width: 242px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu216.focus-st #widgetu216_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu146:hover #widgetu146_input,#widgetu146.focus-st #widgetu146_input,#widgetu146.fld-err-st #widgetu146_input,#widgetu146:hover #widgetu146_prompt,#widgetu146.focus-st #widgetu146_prompt,#widgetu146.fld-err-st #widgetu146_prompt,#widgetu157:hover #widgetu157_input,#widgetu157.focus-st #widgetu157_input,#widgetu157.fld-err-st #widgetu157_input,#widgetu157:hover #widgetu157_prompt,#widgetu157.focus-st #widgetu157_prompt,#widgetu157.fld-err-st #widgetu157_prompt,#widgetu152:hover #widgetu152_input,#widgetu152.focus-st #widgetu152_input,#widgetu152.fld-err-st #widgetu152_input,#widgetu152:hover #widgetu152_prompt,#widgetu152.focus-st #widgetu152_prompt,#widgetu152.fld-err-st #widgetu152_prompt,#widgetu216:hover #widgetu216_input,#widgetu216.focus-st #widgetu216_input,#widgetu216.fld-err-st #widgetu216_input,#widgetu216:hover #widgetu216_prompt,#widgetu216.fld-err-st #widgetu216_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu146.non-empty-st #widgetu146_prompt,#widgetu157.non-empty-st #widgetu157_prompt,#widgetu152.non-empty-st #widgetu152_prompt,#widgetu216.non-empty-st #widgetu216_prompt
{
	visibility: hidden;
}

#u174-4
{
	z-index: 103;
	width: 178px;
	min-height: 34px;
	background-color: transparent;
	line-height: 31px;
	font-size: 26px;
	color: #747474;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 693px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

