#u93-6
{
	background-color: transparent;
	color: #414141;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u93-2
{
	font-size: 45px;
	line-height: 45px;
}

#u93-4
{
	font-size: 19px;
	text-align: center;
	line-height: 9px;
}

